.jason-CSS {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
    background: transparent;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    z-index: 555;
    backdrop-filter: blur(1px);
    position: fixed;
}

.jason-CSS-2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.css-logo-box {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


@media (min-width: 600px) {
    .jason-CSS-2 {
    padding-left: 24px;
    padding-right: 24px;
    }
}