

#hero-image {
  background-image:  url("https://upload.wikimedia.org/wikipedia/commons/1/1b/View_of_Santa_Maria_del_Fiore_in_Florence.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 15px;
}

/* Header/Nav CSS */



.Allhead {
color: #333;
height: 115px;
left: 0;
position: absolute;
right: 0;
top: 0;
transition-duration: .5s;
z-index: 10;
}

.header-logo {
position: fixed;
display: fixed;
left: 70%;
top: 0vh;
}

#logo-image {
left: 0;
top: 0;
min-width: 250px;
width: 100px;
}

.header-nav-full {
display: fixed;
/* background: #fff;   */
font-weight: 500;
height: 90px;
line-height: 90px;
position: relative;
top: -25px;
left: 10px;
}

.Allhead:hover {
background: #cce8ec;    
}

.header-main-list {
font-size: 25px;
padding-top: 25px; 
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}


ul li {
display: inline-block;
padding: 0 0.5rem;
color: black;

}

/* ul li:not(:last-child) {
border-right: 1px solid black;
} */

li:not(:last-child) {
margin: 20px;

}

li a:hover{
color: red;
}

a {
page-break-inside: avoid;
}

/* The "*" is a wildcard and applies those styles to all elements. Helps to reset CSS files in order to default all native browser margin/padding on different elements to a common value. */
* {
box-sizing: border-box;
color: inherit;
font: inherit;
line-height: inherit;
margin: 0;
padding: 0;
text-decoration: inherit;
}


/* ------ */


